
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<h2>Statistics Of Categories</h2>
<br />
<div class="row" style="margin-left: 10%">
    <div class="bg-gradient-red col-sm-2 card text-center" style="padding: 10px; margin-right: 10px">
        <div class="card-body">
            <h3 class="card-title" style="font-size: 20px">Number of Categories</h3>
            <p class="card-text" style="padding-top: 50px; font-size: 15px">@ViewBag.totalCategories</p>
        </div>
    </div>
    <div class="bg-gradient-primary col-sm-2 card text-center" style="padding: 10px; margin-right: 10px">
        <div class="card-body">
            <h1 class="card-title" style="font-size: 20px">Number of Headings in Development Category</h1>
            <p class="card-text" style="padding-top: 10px; font-size: 15px">@ViewBag.headingsInDevelopment</p>
        </div>
    </div>

    <div class="bg-gradient-gray-dark card col-sm-2 text-center" style="padding: 10px; margin-right: 10px ">
        <div class="card-body">
            <h1 class="card-title" style="font-size: 20px">Number of Writer that has 'a' in his or her name</h1>
            <p class="card-text" style="padding-top: 10px; font-size: 15px">@ViewBag.aInWriterName</p>
        </div>
    </div>
    <div class="bg-gradient-green card col-sm-2 text-center" style="padding: 10px; margin-right: 10px">
        <div class="card-body">
            <h1 class="card-title" style="font-size: 20px">Category Name That has more Headings Than Other</h1>
            <p class="card-text" style="padding-top: 10px; font-size: 15px">@ViewBag.mostHeadingsCategory</p>
        </div>
    </div>
    <div class="bg-gradient-info col-sm-2 card text-center" style="padding: 10px; margin-right: 10px">
        <div class="card-body">
            <h1 class="card-title" style="font-size: 20px">Number of Categories</h1>
            <p class="card-text" style="padding-top: 30px; font-size: 15px">@ViewBag.totalCategory</p>
            <p class="card-text" style="font-size: 15px">@ViewBag.messageForcategories</p>
        </div>
    </div>
</div>


